<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Festivals | File Upload</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="stylesheet" href="css/admin/bootstrap.css">
        <link rel="stylesheet" href="css/admin/icons.css">
        <link rel="stylesheet" href="css/admin/main.css">
        <link rel="shortcut icon" href="http://cdn.sstatic.net/superuser/img/favicon.ico">

        <script src="js/admin/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    </head>

    <!-- Body -->
    <body>
       
      <!-- Body -->
    <body>
       
        <!-- Page Container -->            
                           <% include partials/header %>
<!-- Left Sidebar -->
            <!-- In the PHP version you can set the following options from the config file -->
            <!-- Add the class .sticky for a sticky sidebar -->
            <aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                <!--
                Wrapper for scrolling functionality
                Used only if the .sticky class added above. You can remove it and you will have a sticky sidebar
                without scrolling enabled when you set the sidebar to be sticky
                -->
                <% include partials/miniprofile %>


                    <!-- Sidebar Tabs -->
                    <div class="sidebar-tabs-con">
                            <div class="tab-pane active" id="side-tab-menu">
                                <!-- Primary Navigation -->
                                <nav id="primary-nav">
                                    <ul>
                                        <li>
                                            <a href="/admin" class=" active"><i class="gi gi-display"></i>Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="gi gi-more_windows"></i>Pages</a>
                                            <ul>
                                                <li>
                                                    <a href="/all_pages">All Pages</a>
                                                </li>
                                                <li>
                                                    <a href="/new_page">New Page</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="gi gi-electrical_plug"></i>Plugins</a>
                                            <ul>
                                                <li>
                                                    <a href="/social_links">About Us</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_lineup">Line Up</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_programme">Programme</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_blog">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="/social_links">Social Links</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_sponsors">Sponsors</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_gallery">Gallery</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_carousel">Carousel Header</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_contact_form">Contact Form</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-eye"></i>Appearance</a>
                                            <ul>
                                                 <li>
                                                    <a href="/menu_navigation">Navigation Menu</a>
                                                </li>
                                                 <li>
                                                    <a href="/reading_settings">Home Page Setup</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-users"></i>Users</a>
                                            <ul>
                                                <li>
                                                    <a href="/users_all">All users</a>
                                                </li>
                                                <li>
                                                    <a href="/users_all">New User</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- END Primary Navigation -->
                            </div>
                    </div>
                    <!-- END Sidebar Tabs -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </aside>
            <!-- END Left Sidebar -->

            <!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1><i class="gi gi-cloud_plus" id="icon-margin"></i>File Upload<br><small>Upload  to the Library</small></h1>
            </div>
            <!-- END Pre Page Content -->

            <!-- Page Content -->
            <div id="page-content">
                <!-- Breadcrumb -->
                <ul class="breadcrumb breadcrumb-top">
                    <li>
                        <a href="/"><i class="gi gi-display"></i></a>
                    </li>
                    <li>
                    </li>
                    <li><a href="#">File Upload</a></li>
                </ul>
                <!-- END Breadcrumb -->

                 <!-- Default File Upload Block -->
                <div class="block block-themed">
                    <!-- Default File Upload Title -->
                    <div class="block-title">
                        <h4><i class="gi gi-sort" id="icon-margin"></i>Select File</h4>
                    </div>
                    <!-- END Default File Upload Title -->
                    
                      <!-- Default File Upload Content -->
                    <div class="block-content">
                        <form action="/upload" enctype="multipart/form-data" method="post" class="form-horizontal">
                            <h4 class="sub-header">Single file</h4>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="file">Select a file</label>
                                <div class="col-md-4">
                                    <input type="file" id="file" name="file" class="form-control">
                                                <input type="text" name="title">

                                </div>
                            </div>
                            <h4 class="sub-header">Multiple files</h4>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="file2">Select multiple files</label>
                                <div class="col-md-4">
                                    <input type="file" id="file2" name="file2" class="form-control" multiple>
                                </div>
                            </div>
                            <div class="form-group form-actions">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="submit" class="btn btn-success"><i class="gi gi-upload" id="icon-margin"></i>Upload</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Default File Upload Content -->
                </div>
                <!-- END Default File Upload Block -->
            </div>
            <!-- END Page Content -->
        </div>
        <!-- END Page Container -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/adminadmin//vendor/jquery-1.11.1.min.js"></script>
        <script src="js/adminadmin//vendor/bootstrap.min.js"></script>

        <script src="js/adminadmin//accordionMenu.js"></script>
</html>