<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>EZYFEST | New Slide</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="stylesheet" href="css/admin/bootstrap.css">
        <link rel="stylesheet" href="css/admin/icons.css">
        <link rel="stylesheet" href="css/admin/main.css">
        <link rel="shortcut icon" href="http://res.cloudinary.com/docentkowalik/image/upload/v1429701357/icon_zifupq.png">

        <script src="js/admin/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    


    </head>

  <!-- Body -->
    <body>
       
        <!-- Page Container -->            
                           <% include partials/header %>
 <!-- Left Sidebar -->
            <aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                                        <% include partials/miniprofile %>

              <!-- Sidebar Tabs -->
                    <div class="sidebar-tabs-con">
                            <div class="tab-pane active" id="side-tab-menu">
                                <!-- Primary Navigation -->
                                <nav id="primary-nav">
                                    <ul>
                                        <li>
                                            <a href="/admin" class=""><i class="gi gi-display"></i>Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="gi gi-more_windows"></i>Pages</a>
                                            <ul>
                                                <li>
                                                    <a href="/all_pages">All Pages</a>
                                                </li>
                                                <li>
                                                    <a href="/new_page">New Page</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link active"><i class="gi gi-electrical_plug"></i>Plugins</a>
                                            <ul>
                                                <li>
                                                    <a href="/about_us">About Us</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_lineup">Line Up</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_programme">Programme</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_blog">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="/social_links">Social Links</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_sponsors">Sponsors</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_gallery">Gallery</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_carousel">Carousel Header</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_contact_form">Contact Form</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-eye"></i>Appearance</a>
                                            <ul>
                                                 <li>
                                                    <a href="/menu_navigation">Navigation Menu</a>
                                                </li>
                                                 <li>
                                                    <a href="/reading_settings">Home Page Setup</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-users"></i>Users</a>
                                            <ul>
                                                <li>
                                                    <a href="/users_all">All users</a>
                                                </li>
                                                <li>
                                                    <a href="/users_all">New User</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- END Primary Navigation -->
                            </div>
                    </div>
                    <!-- END Sidebar Tabs -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </aside>
            <!-- END Left Sidebar -->

            <!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1><i class="gi gi-plus" id="icon-margin"></i>New Slide</h1><small>For best performance please use 1920x1080 images</small>
            </div>
            <!-- END Pre Page Content -->

            <!-- Page Content -->
            <div id="page-content">
                <!-- Breadcrumb -->
                <ul class="breadcrumb breadcrumb-top">
                    <li>
                        <a href="/admin"><i class="gi gi-display"></i></a>
                    </li>
                    <li><a href="#">Plugins</a></li>

                    <li><a href="/fest_carousel">Carousel Slider</a></li>
                    <li><a href="/new_carousel">New Slide</a></li>

                </ul>
                <!-- END Breadcrumb -->

                <!-- Input Sizes -->
    <form role="form" action='/processNewSlide' name='processNewSlide' id='processNewSlide' class="form-horizontal" enctype="multipart/form-data" method='POST'>
                                
                                <h4 class="sub-header">New Carousel Slide</h4>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label class="control-label col-md-2" for="file">Slide image</label>
                                            <div class="col-md-4">
                                                <input type="file" id="slide_img" name="slide_img" class="form-control" >
                                            </div>
                                    </div>
                                    
                                    <div class="col-md-10">
                                        <label class="control-label col-md-2" for="file">Caption Header</label>
                                            <div class="col-md-4">
                                                <textarea rows="4" cols="58" id="caption_header" name="caption_header" maxlength="40"
                                                 placeholder="Slide caption header...(max 40 characters)"></textarea>
                                            </div>
                                    </div>

                                    <div class="col-md-10">
                                        <label class="control-label col-md-2" for="file">Caption Content</label>
                                            <div class="col-md-4">
                                                <textarea rows="10" cols="58" id="caption_content" name="caption_content" maxlength="255"
                                                placeholder="Slide caption content...(max 255 characters)"></textarea>
                                            </div>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="control-label col-md-2" for="file">Image Link</label>
                                            <div class="col-md-4">
                                               <input type="text" class="form-control" id="link" name="link"
                                               placeholder="Please enter slide image link here">
                                            </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-check" id="icon-margin"></i>Save</button>
                                        </div>
                                    </div>
                            </form>

                                 
                            <!-- END Input Sizes -->

                              
            </div>
            <!-- END Page Content -->

         
        </div>
        <!-- END Page Container -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/admin/vendor/jquery-1.11.1.min.js"></script>
        <script src="js/admin/vendor/bootstrap.min.js"></script>

        <script src="js/admin/accordionMenu.js"></script>
        <script src="js/admin/vendor/ckeditor/ckeditor.js"></script>
            <script>
                CKEDITOR.replace( 'editor1', {
                } );
            </script>
    </body>
</html>