<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>EZYFEST | Programme Day Schedule</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="" content="">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <link rel="stylesheet" href="css/admin/bootstrap.css">
        <link rel="stylesheet" href="css/admin/icons.css">
        <link rel="stylesheet" href="css/admin/main.css">
        <link rel="shortcut icon" href="http://res.cloudinary.com/docentkowalik/image/upload/v1429701357/icon_zifupq.png">
        <link rel="stylesheet" href="js/admin/vendor/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css">


        <script src="js/admin/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    


    </head>

   <!-- Body -->
    <body>
       
        <!-- Page Container -->            
                           <% include partials/header %>
 <!-- Left Sidebar -->
            <aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                                        <% include partials/miniprofile %>

              <!-- Sidebar Tabs -->
                    <div class="sidebar-tabs-con">
                            <div class="tab-pane active" id="side-tab-menu">
                                <!-- Primary Navigation -->
                                <nav id="primary-nav">
                                    <ul>
                                        <li>
                                            <a href="/admin" class=""><i class="gi gi-display"></i>Dashboard</a>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="gi gi-more_windows"></i>Pages</a>
                                            <ul>
                                                <li>
                                                    <a href="/all_pages">All Pages</a>
                                                </li>
                                                <li>
                                                    <a href="/new_page">New Page</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link active"><i class="gi gi-electrical_plug"></i>Plugins</a>
                                            <ul>
                                                <li>
                                                    <a href="/about_us">About Us</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_lineup">Line Up</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_programme">Programme</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_blog">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="/social_links">Social Links</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_sponsors">Sponsors</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_gallery">Gallery</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_carousel">Carousel Header</a>
                                                </li>
                                                <li>
                                                    <a href="/fest_contact_form">Contact Form</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-eye"></i>Appearance</a>
                                            <ul>
                                                 <li>
                                                    <a href="/menu_navigation">Navigation Menu</a>
                                                </li>
                                                 <li>
                                                    <a href="/reading_settings">Home Page Setup</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="menu-link"><i class="fa fa-users"></i>Users</a>
                                            <ul>
                                                <li>
                                                    <a href="/users_all">All users</a>
                                                </li>
                                                <li>
                                                    <a href="/users_all">New User</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- END Primary Navigation -->
                            </div>
                    </div>
                    <!-- END Sidebar Tabs -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </aside>
            <!-- END Left Sidebar -->
            <!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1><i class="fa fa-calendar" id="icon-margin"></i>Programme Day Schedule<br></h1>
            </div>
            <!-- END Pre Page Content -->

            <!-- Page Content -->
            <div id="page-content">
                <!-- Breadcrumb -->
                <ul class="breadcrumb breadcrumb-top">
                    <li>
                        <a href="/admin"><i class="gi gi-display"></i></a>
                    </li>
                    <li>
                        <a href="#">Plugins</a>
                    </li>
                    <li><a href="#">Programme Day Schedule</a></li>
                </ul>
                <!-- END Breadcrumb -->
                 <!-- Horizontal Form Block -->
                <div class="block block-themed">
                    <!-- Horizontal Form Title -->
                    <div class="block-title">
                        <h4><i class="fa fa-calendar-o" id="icon-margin"></i>Day Schedule</h4>
                    </div>
                    <!-- END Horizontal Form Title -->

                    <!-- Horizontal Form Content -->
                    <div class="block-content">
                        <form action="/processDayEvent" method="post" class="form-horizontal" name='processDayEvent' id='processDayEvent'>
                            
                            <div class="col-md-10">
                                             
                                             <label class="control-label col-md-1" for="file">Artist Name</label>
                                             <div class="form-group">
                                                <div class='input-group col-md-2' >
                                                    <input type='text' class="form-control" name='artist' id='artist' />
                                                </div>
                                             </div>
                                             <label class="control-label col-md-1" for="file">Event</label>
                                             <div class="form-group">
                                                <div class='input-group col-md-2' >
                                                    <input type='text'  class="form-control" name='event' id='event' />
                                                </div>
                                             </div>
                                             <label class="control-label col-md-1" for="file">Venue Location</label>
                                             <div class="form-group">
                                                <div class='input-group col-md-2' >
                                                    <input type='text'  class="form-control" name='venue' id='venue'/>
                                                </div>
                                             </div>
                                             <label class="control-label col-md-1" for="file">Time</label>
                                             <div class="form-group form-inline">
                                                <div class='input-group date col-md-2' >
                                                    <input type='text' placeholder="" class="form-control" id='timeFrom' name='timeFrom'/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o">
                                                          </span>
                                                    </span>
                                                </div>

                                                <strong class="picker-padding">-</strong>
                                                <div class='input-group date col-md-2' >
                                                    <input type='text' placeholder="" class="form-control" id='timeTo' name='timeTo'/>
                                                    <span class="input-group-addon"><span class="fa fa-clock-o">
                                                          </span>
                                                    </span>
                                                </div>
                                              <input type='hidden' name="dayID" class="form-control" id='dayID' value="<%= dayID %>" />
                                             </div>
                                    </div>
                            
                            <div class="form-group form-actions">
                                <div class="col-md-10 col-md-offset-1">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-check" id="icon-margin"></i> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END Horizontal Form Content -->
                </div>
                <!-- END Horizontal Form Block --> 
        </div>
        <!-- END Page Container -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/admin/vendor/jquery-1.11.1.min.js"></script>
        <script src="js/admin/vendor/bootstrap.min.js"></script>

        <script src="js/admin/accordionMenu.js"></script>
        <script src="js/admin/vendor/ckeditor/ckeditor.js"></script>
        <script src="js/admin/vendor/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
            <script>
                CKEDITOR.replace( 'editor1', {
                } );
            </script>

        <script type="text/javascript">

            $('#datePicker').datetimepicker({
                format: "dd MM yyyy",
                pickDate: true,                 //en/disables the date picker
			    pickTime: false,                 //en/disables the time picker
			    useMinutes: false,               //en/disables the minutes picker
			    useSeconds: false,               //en/disables the seconds picker
			    useCurrent: true,               //when true, picker will set the value to the current date/time     
			    minuteStepping:10,               //set the minute stepping
			    showToday: true,                 //shows the today indicator
			    minView: 2,
				autoclose: 1,


            });

             $('#timeFrom, #timeTo').datetimepicker({
				autoclose: 1,
				startView: 1,
				minView: 0,
				maxView: 1,
				forceParse: 0,
				format: "hh:ii"

                });
       
        </script>
    </body>
</html>




