<section id="title" class="turquoise">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>About Us</h1>
                                
                    </div>
                    <div class="col-sm-6">
                    
                </div>
            </div>
        </div>
</section><!--/#title--> 

<section id="about" class="container">
    
    <div class="container">
        <div class="row">                                                                
            <!-- About us Content Column -->
            <div class="col-lg-12">
                <% for(var i=0; i<aboutOBJ.length; i++) {%>
                    <div class="about_content"><%= aboutOBJ[i].about_content %></div>
                <% } %>
            </div>
        </div>
    </div>

</section><!--/#programme-->


                        

