<section id="title" class="turquoise">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Gallery</h1>
                            
            </div>
            <div class="col-sm-12">
         
        </div>
      </div>
    </div>
  </section><!--/#title-->     
<br/>

 <section id="galery" class="container">
    <div class="row">
      <div class="col-sm-12">
       
          <div id="nanoGallery1"></div>

      </div>
     </div> 
 </section>
  <!-- /gallery -->

