<!-- Header -->
            <header class="navbar navbar-inverse">
                <!-- div#row -->
                <div class="row">
                    <!-- Sidebar Toggle Buttons -->
                    <div class="col-sm-4 hidden-xs">
                        <ul class="navbar-nav-custom pull-left">
                            <!-- Desktop Button -->
                            <li class="visible-md visible-lg">
                                <a href="javascript:void(0)" id="toggle-side-content">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <!-- END Desktop Button -->

                              <!-- Divider -->
                            <li class="divider-vertical"></li>
                        </ul>
                    </div>
                    <!-- END Sidebar Toggle Buttons -->

                    <!-- Brand and Search Section -->
                    <div class="col-sm-4 col-xs-12 text-center">
                       
                        <!-- Logo -->
                        <a href="index.html" class="navbar-brand">
                            <img src="http://res.cloudinary.com/docentkowalik/image/upload/v1429697357/ezyfest_ybq2gz.png" alt="logo">
                        </a>
                        <!-- END Logo -->

                    </div>
                    <!-- END Brand and Search Section -->


                    <!-- Header Nav Section -->
                    <div id="header-nav-section" class="col-sm-4 col-xs-12 clearfix">
                        <!-- Header Nav -->
                        <ul class="navbar-nav-custom pull-right">
                         <li><a href="#"><i class="gi gi-imac" id="icon-margin"></i> Visit Site</a></li>               
                        </ul>
                        <!-- END Header Nav -->

                        <!-- Mobile Navigation -->
                        <ul class="navbar-nav-custom pull-left visible-xs visible-sm" id="mobile-nav">
                            <li>
                                <a href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-main-collapse">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <!-- END Mobile Navigation -->
                    </div>
                    <!-- END Header Nav Section -->
                </div>
                <!-- END div#row -->
            </header>
            <!-- END Header -->