
                  <div class="side-scrollable">
                    <!-- Mini Profile -->
                    <div class="mini-profile">

                      <center>
                            <img src="http://mymobileuni.net/mu3/pic/ambassador/avatar.gif" alt="Avatar" class="img-circle">
                             <div class="mini-profile-options">
                                <span class="mini-user"><%= first%> <%= last %></span>
                             </div>
                            </center>

                        <center><div class="mini-profile-options">
                              
                            <a href="/logoutFestival" class="badge badge-danger" enable-tooltip" title="Log out">Logout
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </div>                            </center>

                        
                    </div>
